*{
  font-family: "Helvetica Neue"
}


.buy{
  border-left:  1px solid black;
  border-right:  1px solid black;

}

.upgrade{
  border-left:  1px solid black;

}

.parent{
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
  margin-right: 20em;
}


.resources{
  border: 2px solid black;
  cursor: pointer;
  margin: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar{
  border-right:  5px solid black;
  border-top:  5px solid black;
  padding: 2px;
  cursor: pointer;
  margin: 5px;
  height: calc(100vh - 200px);
  overflow-y: auto;

}

.sidebarR{
  padding-left: 1em;

}


container{
  background: linear-gradient(180deg, rgba(2,0,36,0.39119397759103647) 50%, rgba(226,226,226,0.6292892156862745) 100%);
}

input{
  padding: 1em;
  margin: 1em;
  font-size: 2em;
}

.modal-content{
  .title{

  color: rgba(220, 0, 0, 0.8);
  }
  .button{
    width: 2em;
    height: 2em;
    border-color: rgba(220, 0, 0, 0.8);
  }
}

.unlockUp{
  cursor: pointer;
  display: inline-block
}
