*{
  font-family: "Helvetica Neue"
}


.buy{
  border-left:  1px solid black;
  border-right:  1px solid black;

}

.upgrade{
  border-left:  1px solid black;

}

.parent{
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
  margin-right: 20em;

}

.main{
  display: flex;
  z-index:1;
  height: calc(100vh - 300px);
  overflow-y: auto;
  align-content: flex-start;

}

.resources{
  border: 2px solid black;
  cursor: pointer;
  margin: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resourcesM{
  border: 2px solid black;
  cursor: pointer;
  margin: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4em;
  .bname{

  }
}

.sidebar{
  border-right:  5px solid black;
  border-top:  5px solid black;
  padding: 2px;
  cursor: pointer;
  margin: 5px;
  height: calc(100vh - 200px);
  overflow-y: auto;

}

.sidebarR{
  padding-left: 1em;

}



input{
  padding: 1em;
  margin: 1em;
  font-size: 2em;
}

.modal-content{
  .title{

  color: rgba(220, 0, 0, 0.8);
  }
  .button{
    width: 2em;
    height: 2em;
    border-color: rgba(220, 0, 0, 0.8);
  }
}

.unlockUp{
  margin-right:5em;
  border: 1px solid black;
  padding: 0.3em;
  cursor: pointer;
  display: inline-flex
}

.multiplier{
  margin-right:5em;
  display: inline-flex;
  border: 1px solid black;
  padding: 0.3em;
  cursor: pointer;

}

.total{
  margin-right:5em;
  display: inline-flex;
  padding: 0.3em;
  width: 10em;

}

hr{
  border: 1px solid black;
  width: 70%;
}
